

.flag {
    height: 20px;
    width: 35px;
}

.cityNames {
    font-size: var(--fSizeM);
}

.cityText, .imageAndScroll p, .uniBoxes {
    font-size: var(--fSizeS);
}

/* kan göra något med grid osv. när jag vet hur man för de individuella boxarna så det inte blir en lång bakgrundsfärg */
.uniDiv {
    display: flex;
    flex-direction: row;
}

.soloUniDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--colorBG2);
    margin: var(--fSizeXS) var(--fSizeXL) var(--fSizeXS) 0;
    padding: var(--fSizeXS) var(--fSizeM);
    border-radius: 15px;
    font-size: var(--fSizeS);
}

.imageAndScroll {
    display: flex;
    flex-direction: row;

    margin: 0;
    width: var(--screenSize3);
    height: var(--screenSize3);

    background-color: var(--colorBG2);
}

.imageAndScroll img {
    width: 50%;
}

.entertainmentPlaces {
    height: 100%;
    width: 90%;
    overflow-y: scroll;

    padding: var(--fSizeXS);
    margin-left: var(--fSizeS);

    line-height: 25px;
}



