
:root {
    /* sizes */
    --screenSize1: 60%;
    --screenSize2: 80%;
    --screenSize3: 100%;

    --fSizeXS: 10px;
    --fSizeS: 14px;
    --fSizeM: 20px;
    --fSizeL: 30px;
    --fSizeXL: 40px;
    --veryBigSize: 100px;

    /* colors */
    --colorBG: lightgrey;
    --colorBG2: grey;
    --colorBG3: white;
    --colorBG4: black;

}

body{ margin: 0px;}

nav {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(3, 1fr);
}
#HomeNav{ background-color:var(--colorBG);}
#InfoNav{ background-color: var(--colorBG3);}

#mainWrapper {
    width: var(--screenSize1);
    height: 100vh; 
    overflow-y: scroll;

    padding: var(--fSizeS);
}

.cityCard {
    padding: var(--fSizeS);
    margin-bottom: var(--fSizeS);

    background-color: var(--colorBG);
    opacity: 0.6;
    box-shadow: 0px;
    transition: opacity 1s, box-shadow 1s;
}

.cityCard:hover {
    opacity: 1;
    transition: opacity .3s, box-shadow .3s;
    box-shadow: 0px 0px 10px 0px var(--colorBG4);
}

.flag {
    height: 20px;
    width: 35px;
}

.cityNames {
    font-size: var(--fSizeM);
}

.ratingsByStudents {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: repeat(4, 1fr);
} 
.ratingsByStudents p {
    margin: 0;
     
    display: flex;
    align-items: center;
   
}
.ratingsByStudents p > img{ width: 25px; padding-bottom: 4px;}

.ratingsByStudents p, .cityText, .imageAndScroll p, .uniBoxes {
    font-size: var(--fSizeS);
}

/* kan göra något med grid osv. när jag vet hur man för de individuella boxarna så det inte blir en lång bakgrundsfärg */
.uniDiv {
    display: flex;
    flex-direction: row;
}

.soloUniDiv {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--colorBG2);
    margin: var(--fSizeXS) var(--fSizeXL) var(--fSizeXS) 0;
    padding: var(--fSizeXS) var(--fSizeM);
    border-radius: 15px;
    font-size: var(--fSizeS);
}

.imageAndScroll {
    display: flex;
    flex-direction: row;

    margin: 0;
    width: var(--screenSize3);
    height: var(--screenSize3);
    overflow-y: scroll;
}

.imageAndScroll img {
    width: 50%;
}

.entertainmentPlaces {
    height: 100%;
    width: 90%;
    overflow-y: scroll;

    background-color: var(--colorBG2);
    padding: var(--fSizeXS);
    margin-left: var(--fSizeS);
}



