

footer > div{
    display: flex;
    height: 5vw;
    width: 100vw;
}

footer > div > div{
display: flex;
flex-basis: 0;
flex-grow: 1;
justify-content: center;
align-items: center;
}

footer > div > div:nth-child(2) > img{
height: 50px;
width: 50px;
}
