*{
    
}
header{
   margin-bottom: 50px;
}

footer{
    margin-top: 50px;
}


main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

#LeftAdImage{
    background-image: url(../Filer/Images/australia_normal_1.jpg);
    width: 50px;
    height: 100%;
}


#RightAdImage{
    background-image: url(../Filer/Images/argentina_normal_1.jpg);
    width: 50px;
    height: 100%;
}

#MiddleAdImage{
    background-image: url(../Filer/Images/boston_normal_1.jpg);
    width: 50px;
    height: 50px;
}

#ImageRollWrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 20vw;
    width:  50vw;
}

#ImageRollCell{
    display: flex;
}

#ImageRoll{
    width: 30vw;
    height: 20vh
}




#PluggaWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 20vh;
    width: 50vw;
    flex-wrap: wrap;
}

#PluggaWrapper > p{
    text-align: center;
}



#NameOfImageRoll{
    text-align: center;
}


#ReviewWrapper{
    display: flex;
    width: 50vw;
    flex-direction: column;
    
}

#ReviewWrapper > p{
text-align: center;
}

#ReviewCellWrapper{
    display: flex;
    flex-direction: flex;
}

.ReviewCell{
    border-radius: 200px;
    flex-basis: 0;
    flex-grow: 1;
    background-color: grey;
    border: 1px solid black;
    display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}


#ReviewWrapper > #ReviewCellWrapper {
display: flex;
align-items: center;
justify-content: center;
}

#ReviewWrapper > #ReviewCell > #ReviewProgramCity{
 
 }

 #ReviewWrapper > #ReviewCell > #ReviewText{
 
}

#ReviewWrapper >  #ReviewCell > #ReviewNameDate{
 
}

#ReviewWrapper > #ReviewCell > #ReviewStars{
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

#ReviewStars{
    display: flex;
}
.ReviewStarShapes{
    background-color: yellow;
    height: 30px;
    width: 30px;
    border-radius: 300px;
}