
:root {
    /* Fonts */
    --quickSand: 'Quicksand';

    /* sizes */
    --screenSize0: 40%;
    --screenSize1: 60%;
    --screenSize2: 80%;
    --screenSize3: 100%;

    --fSizeXS: 10px;
    --fSizeS: 14px;
    --fSizeM: 20px;
    --fSizeL: 30px;
    --fSizeXL: 40px;
    --veryBigSize: 100px;

    /* colors */
    --colorBG: #405438;
    --colorBG2: #e3ffd9;
    --colorBG3: #95b986;
    --colorBG4: #618b50;
    --colorBG5: #7BA36B;
    --colorBG6: #f4fff0;

        /* basic colors */
        --basic1: white;
        --basic2: black;

}

*{
    font-family: var(--quickSand);
    font-size: var(--fSizeS);
}

body{
    margin: 0px;
    background-color: var(--colorBG2);
   
}

header{
   margin-bottom: 50px;
}

#InfoNav{ 
    background-color: var(--colorBG4);
}

main{
    margin: 50px auto; 
    
}

main > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#ImageRollWrapper
{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75vw;
    height: 65vh;

    margin-top: 50px;
}

#ImageRollCell{
    display: flex;
    justify-content: center;
    width: var(--screenSize3);
    height: var(--screenSize3);
}

#ImageRoll{
    width: var(--screenSize3);
    height: var(--screenSize3);
    background-position: center;
    border: 20px solid var(--colorBG6);
    border-radius: 10px;
    background-size: cover;
}


.ImageButtonHolder{
    display: flex;
    justify-content: center;
    align-items: center;
}

#ImageRollBackward, #ImageRollPhotoForward {
    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 8vw;
    height: 6vh; 

    background-color: var(--basic1);
    border: 2px rgb(156, 156, 156) solid;
    border-radius: 100px;


    text-align: center;
    margin: 10px;
    padding: 2px;
    box-sizing: border-box;
    font-size: var(--fSizeS);
    transition: box-shadow .3s;
}

#ImageRollBackward:hover, #ImageRollPhotoForward:hover{
    cursor: pointer;
    opacity: 1;
    transition: box-shadow .3s;
    box-shadow: 0px 0px 10px 0px var(--colorBG4);
}

#ImageRollBackward:active, #ImageRollPhotoForward:active {
    background-color: rgb(156, 156, 156);
}

#PluggaWrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 40vw;
    height: 15vh;
    
    background: var(--colorBG6);
    padding: 20px;
    margin: 50px 0px;
    border-radius: 20px;
}

#PluggaWrapper p {
    margin: 0;
    margin: 15px 0px;
}

#MainPageButton {
    cursor: pointer;
    width: 10vw;
    height: 15vh; 

    margin-right: 50px;
    margin-left: 50px;
    border: 2px var(--colorBG4) solid;
    border-radius: 10px;

    background-color: var(--colorBG4);
    color: var(--colorBG6);
}

#image {
    height: 100%;
    width: 100%;
    background-image: url(../Filer/Images/skyline.png);
    background-size: cover;
}
/*
#PluggaWrapper > p:last-child{
    margin-top: 50px;
   
}

#PluggaWrapper > p{
    text-align: center;
}
*/

#ImageRollWrapper + p{
    margin: 30px 0px 30px 0px;
}

#NameOfImageRoll{
    display: flex;
    justify-content: center;
    align-items: center;   
    width: 20%;
    height: 12%; 
    
    background-color: var(--colorBG6);
    margin: 55px 55px 0px 55px;
    border-radius: 15px;

    font-size: var(--fSizeM);
}


#ReviewWrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ReviewWrapper > p {
    text-align: center;
    font-size: var(--fSizeM);
    margin: 50px;
}

#ReviewCellWrapper{
    display: flex;
    justify-content: center;
    width: var(--screenSize1);

}


.ReviewCell{
    width: 40%;
    background-color: var(--colorBG4);
    border: 5px solid var(--colorBG6);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    margin: 0px 50px;
    border-radius: 10px;
}

.ReviewCell > p{
    width: 80%;
    text-align: center;
}




.ReviewCell > #ProgramName, .ReviewCell > #ReviewProgramCityName {
    margin-top: 0;
}

#ReviewWrapper > #ReviewCell > #ReviewStars{
    display: flex;
    align-items: center;
    flex-basis: 0;
    flex-grow: 1;
}

#ReviewStars{
    display: flex;
}

.ReviewStarShape{
   
    display: inline-block;
}

.ReviewStarShape > img{
    height: 25px;
    width: 25px;
    margin: 0px 2px;
}

#SideAdsRight{
    background-image: url(../Filer/Images/annons_horizontell.jpg);
    height: 10vh;
    width: 50vw;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.squareAd{
    background-image: url(../Filer/Images/annons_kvadratisk.jpg);
    width: 20vw;
    height: 20vh;
    
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    margin-top: 50px;
}



.RatingTitle{
    width: 100%;
    text-align: center;
}

