*{
    /* sizes */
    --screenSize1: 60%;
    --screenSize2: 80%;
    --screenSize3: 100%;

    --fSizeXS: 10px;
    --fSizeS: 14px;
    --fSizeM: 20px;
    --fSizeL: 30px;
    --fSizeXL: 40px;

    /* colors */
    --colorBG: lightgrey;
    --colorBG2: grey;
    --colorBG3: white;
    --colorBG4: black;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0;
    height: var(--screenSize3);
}

header > div{height: 75px;}
nav{padding-bottom: 40px;}
#HomeNav{ background-color:var(--colorBG);}
p, h1, h4{ margin: 0px;}
h1{font-size: var(--fSizeM);}
p, div{font-size: var(--fSizeS);}

#wrapper{
    width: var(--screenSize1);
    height: 100vh;
    overflow-y: scroll;

    padding: var(--fSizeS);
}
.createProgramCard{ 
    padding: var(--fSizeS);
    margin-bottom: var(--fSizeS);

    background-color: var(--colorBG);
}

.infoProgram{
    display:flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}
.infoProgram > div{
    background-color: var(--colorBG2);
    padding: 15px;
    margin-right: 5px;
    border-radius: 30px;
}

.studentRatings{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.studentRatings > div:first-child{
    padding-top:1px;
}
.studentRatings > p{
    display:flex;
    align-items: center;
    padding-bottom: 3px;
}
.studentRatings > p > img{ width: 25px; padding-bottom: 4px;}

.successOchReview{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.successRateDiv{
    display:flex;

    flex-direction: column;
}
.nmbrOchYear{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nmbrOchYear > p > span:last-child{ padding-left: 28px;}
.nmbrOchYear > p > span:first-child{padding-left: 5px;}
.nmbrOchYear > p{ 
    background-color: var(--colorBG2);
    border-radius: 10px;
    padding: 1px;
    margin-bottom: 2px;
}
.reviews{
    border: 1px solid var(--colorBG4);
    width: 100%;
    margin-left: 30px;
}
.oneReview{
    margin: 5px 8px 5px 8px;
    border-bottom: 1px solid var(--colorBG4);
}
.oneReview > p:last-child{font-style: italic;}