p, h1, h4{ margin: 0px;}
h1{font-size: var(--fSizeM);}
.infoProgram div, .studentRatings p, .studentRatings div, 
.successOchReview p, .nmbrOchYear span{font-size: var(--fSizeS);}

.infoProgram{
    display:flex;
    flex-direction: row;
    margin: 10px 0px 10px 0px;
}
.infoProgram > div{
    background-color: var(--colorBG2);
    padding: 15px;
    margin-right: 5px;
    border-radius: 30px;
}

.successOchReview{
    display:flex;
    flex-direction: row;
    justify-content: space-evenly;

    margin-top: var(--fSizeXS);
}
.successRateDiv{
    display:flex;

    flex-direction: column;
}
.nmbrOchYear{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.nmbrOchYear > p > span:last-child{ padding-left: 80px;}
.nmbrOchYear > p > span:first-child{padding-left: 5px;}
.nmbrOchYear > p{ 
    background-color: var(--colorBG2);
    border-radius: 10px;
    padding: 1px;
    margin-bottom: 5px;
    display:flex;
}
.reviews{
    border: 1px solid var(--basic2);
    width: 100%;
    margin-left: 30px;
    overflow-y: scroll;
    height: 200px;
}
.reviews > div:last-child{border:none;}
.oneReview{
    margin: 5px 8px 5px 8px;
    padding: 5px;
    background-color: var(--colorBG2);
    border-radius: 10px;
}
.oneNameAndDate{font-style: italic; padding-bottom: 5px;}
.studentRatings p:last-child{padding-left: 10px;}
