*{
    /* sizes */
    --screenSize1: 60%;
    --screenSize2: 80%;
    --screenSize3: 100%;

    --fSizeXS: 10px;
    --fSizeS: 14px;
    --fSizeM: 20px;
    --fSizeL: 30px;
    --fSizeXL: 40px;

    /* colors */
    --colorBG: lightgrey;
    --colorBG2: grey;
    --colorBG3: white;
    --colorBG4: black;
}

body{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    margin: 0;
    height: var(--screenSize3);
}

#HomeNav{ background-color:var(--colorBG);}
#InfoNav{ background-color: var(--colorBG3);}
nav{padding-bottom: 40px;}
p, h1, h4{ margin: 0px;}
p, div{font-size: var(--fSizeS);}

#wrapper{
    width: var(--screenSize1);
    height: 100vh;
    overflow-y: scroll;

    padding: var(--fSizeS);
}
.createUniversityCard{ 
    padding: var(--fSizeS);
    margin-bottom: var(--fSizeS);

    background-color: var(--colorBG);
}


h1{padding-bottom: 20px; font-size: var(--fSizeM);}
h1 > img {padding: 5px 0px 0px 5px; width: 30px;}

.universityContent{
    display:flex;
}
.universityContent > div:first-child{width: 55%;}
.universityContent > div:first-child > img{width: 100%;}

.infoOchProgram{
    padding-left: 20px;
}

.stadOchSprak{
    display:flex;
    flex-direction: row;
}

.stadOchSprak > div{
    background-color: var(--colorBG2);
    padding: 15px;
    margin-right: 5px;
    border-radius: 30px;
}

.allaProgram{
    border: 1px solid var(--colorBG4);
    height: 100px;
    overflow-y: scroll;
}
.oneProgram{
    background-color: var(--colorBG2);
    border-radius: 10px;
    margin:5px;
    padding: 3px;

}