:root {
    /*subject colors */
    --colorMath: rgb(179, 231, 158);
    --colorTech: rgb(190, 190, 190);
    --colorLaw: rgb(164, 193, 226);
    --colorMed: white;
    --colorSoc: rgb(216, 159, 159);
    --colorFil: rgb(255, 255, 179);
    --colorDes: rgb(248, 201, 158);
}

p, h1, h4{ margin: 0px;}
.stadOchSprak div, .allaProgram div{font-size: var(--fSizeS);}

h1{padding-bottom: 20px; font-size: var(--fSizeM);}
h1 > img {padding: 5px 0px 0px 5px; width: 30px;}

.universityContent{
    display:flex;
}
.universityContent > div:first-child{width: 55%;}
.universityContent > div:first-child > img{width: 100%;}
.universityContent > div:last-child {
    width: 45%;
}

.infoOchProgram{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.stadOchSprak{
    display:flex;
    flex-direction: row;
}


/* Språk */
.stadOchSprak > div{
    background-color: var(--colorBG2);
    padding: 15px;
    margin-right: 5px;
    border-radius: 30px;
}

/* Program */
.allaProgram{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--colorBG4);
    height: 30%;
    overflow-y: scroll;
}
.oneProgram{
    background-color: var(--colorBG2);
    border-radius: 10px;
    margin:5px;
    padding: 3px;
}

/* ämnen */
.subjects {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);

    margin: var(--fSizeXS);
}

.subject span {
    display: inline-block;
    height: var(--fSizeXS);
    width: var(--fSizeXS);

    border-radius: 100%;
    margin-right: 5px;
}

.subject {
    margin-bottom: var(--fSizeXS);
    display: flex;
    align-items: center;
}

.subject:first-child > span {background-color: var(--colorMath);}
.subject:nth-child(2) > span {background-color: var(--colorTech);}
.subject:nth-child(3) > span {background-color: var(--colorLaw);}
.subject:nth-child(4) > span {background-color: var(--colorMed);}
.subject:nth-child(5) > span {background-color: var(--colorSoc);}
.subject:nth-child(6) > span {background-color: var(--colorFil);}
.subject:last-child > span {background-color: var(--colorDes);} 

.subject {
    font-size: var(--fSizeXS);
}